#about-us {
  width: 1227px;
  height: 100%;
  flex-shrink: 0;
  margin: 4rem 2rem;
  padding: 0 3rem;
  overflow: hidden;

  .about {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .text-field {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        max-width: 20ch;
        margin-left: 2rem;
        margin-bottom: 2rem;
        @media (max-width: 1024px) {
          font-size: 40px;
        }
        @media (max-width: 768px) {
          font-size: 25px;
        }
      }

      p {
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 600px;
        margin-left: 2rem;
        margin-bottom: 4rem;
        @media (max-width: 1024px) {
          font-size: 18px;
          width: 400px;
        }
        @media (max-width: 768px) {
          font-size: 14px;
          width: 250px;
        }
      }

      a {
        margin-left: 2rem;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .image-field {
      position: relative;
      width: fit-content;
      overflow: visible;

      .woman1 {
        display: block;
        max-width: 100%;
        filter: grayscale(100%);
        opacity: 0.41;
        z-index: 1;
      }

      .woman2 {
        position: absolute;
        bottom: -80px;
        right: 30px;
        width: 424px;
        height: 229px;
        z-index: 2;
        filter: grayscale(100%);
        background-color: white;
        opacity: 0.7;
      }
    }
  }
}
