#hero {
  width: 744px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 4rem;

  .container {
    width: auto;
    flex-direction: column;
    align-items: center;

    .title {
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 115.2%;
        width: 525px;
        @media (max-width: 1024px) {
          font-size: 80px;
        }
        @media (max-width: 800px) {
          font-size: 60px;
        }
        @media (max-width: 600px) {
          font-size: 30px;
        }
      }

      .Photography {
        width: 400px;
        margin-left: 3rem;
      }
    }
    .paragraph {
      margin-top: 4rem;
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 600px;
      width: 100%;
      margin-right: 4rem;
      @media (max-width: 1024px) {
        max-width: 400px;
        flex-wrap: wrap;
        margin-right: 0;
        padding-right: 0%;
      }
      @media (max-width: 768px) {
        max-width: 200px;
        flex-wrap: wrap;
        margin-right: 0;
        padding-right: 0%;
      }
    }

    .links {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;

      .link {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 85%;
        width: 100%;
        flex-wrap: nowrap;
        @media (max-width: 1024px) {
          font-size: 20px;
        }
        @media (max-width: 768px) {
          font-size: 16px;
        }
        a {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}
