#service {
  width: 100%;
  max-width: 1227px;
  height: auto;
  flex-shrink: 0;
  margin: 4rem 2rem;
  overflow: hidden;

  .services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    h2 {
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 75px;
      @media (max-width: 1024px) {
        font-size: 40px;
      }
      @media (max-width: 768px) {
        font-size: 25px;
      }
    }

    .woman3 {
      width: 527px;
      height: auto;
      flex-shrink: 0;
      max-width: 100%;
      align-self: flex-end;
      filter: grayscale(100%);
      @media (max-width: 1024px) {
        align-self: flex-start;
      }
      @media (max-width: 768px) {
        align-self: flex-start;
      }
    }

    .service-list {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      @media (max-width: 1024px) {
        gap: 2rem;
      }
      @media (max-width: 768px) {
        gap: 1rem;
      }

      .one-service {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 74.7%;
        flex-shrink: 0;
        border-bottom: solid white 3px;
        padding-bottom: 5px;
        width: 600px;
        @media (max-width: 1024px) {
          font-size: 20px;
          width: 400px;
        }
        @media (max-width: 768px) {
          font-size: 15px;
          width: 250px;
        }
      }
    }
  }
}
