#testimonials {
  width: 100%;
  max-width: 1227px;
  height: auto;
  flex-shrink: 0;
  margin: 4rem 3rem;
  overflow: hidden;

  .testimonial {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 3rem;

    h2 {
      font-size: 65px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 1024px) {
        font-size: 50px;
      }
      @media (max-width: 768px) {
        font-size: 35px;
      }
    }

    .clients {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }

      .client {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        img {
          filter: grayscale(100%);
          opacity: 0.7;
        }
      }

      h3 {
        font-family: "Source Sans Pro";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media (max-width: 1024px) {
          font-size: 24px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      h4 {
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        opacity: 0.5;
        @media (max-width: 1024px) {
          font-size: 12px;
        }
        @media (max-width: 768px) {
          font-size: 10px;
        }
      }

      p {
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 1024px) {
          font-size: 16px;
        }
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}
